{% extends "base/base.html" %}



{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
    {% block body %}
    
  <div class="container">
    <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit"  class="btn btn-primary" value="Sign Up">

          </form>
          <p class="text-center"> <a href="{% url 'login' %}" class="btn btn-ouline-info">Already have an account?</a>.</p>
        </div>
            {% endblock body %}
    </body>
</html>